<!-- templates/rest_framework/login.html -->
{% extends "rest_framework/base.html" %}
{% load social_extras %}
{% load static %}

{% block content %}
<div class="container" style="max-width: 400px; margin: 0 auto;">
    <!-- Existing form login -->
    <form action="{% url 'rest_framework:login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        
        <div class="form-group">
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" class="form-control">
        </div>
        
        <button type="submit" class="btn btn-primary" style="width: 100%;">Log in</button>
    </form>
    {% if backends.backends %}
        <h4>Available Sign-in Options</h4>
        <ul>
            {% for backend_name in backends.backends %}
                <li>
                    <a href="{% url 'social:begin' backend_name %}?next={{ request.GET.next|default:'/profile/' }}" >
                        <img src="{% static backend_name|get_friendly_icon %}" width="20" height="20">
                        Sign in with {{ backend_name|get_friendly_name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


    {% if form.errors %}
        <div class="alert alert-danger" style="margin-top: 20px;">
            Invalid username or password.
        </div>
    {% endif %}
</div>
{% endblock %}